@charset "UTF-8";
@import url("stylesheet.css");
/* 
&display=swap
&subset=cyrillic-ext 
*/
@import url("https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap");
/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

img {
  vertical-align: top;
}

html,
body {
  height: 100%;
}

html {
  /* по умолчанию */
  /* font-size: 16px;  */
}

body {
  line-height: 1;
  color: black;
  background-color: #1E456E;
  font-family: "Roboto";
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

/* ------------------------------ */
/* ------------------------------ */
.main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

._ibg {
  position: relative;
}

._ibg img {
  -o-object-fit: cover;
     object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.background {
  background-color: white;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 97%;
          flex: 0 1 97%;
  margin: 0px auto;
  margin-bottom: 156px;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title__contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-top: 105px;
  margin-right: 200px;
  font-family: "Brick Display Pro";
  font-size: 32px;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 63px;
  color: #1E456E;
}

.title__container {
  margin-bottom: 156px;
  max-width: 97%;
}

.matilde {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 58px;
          column-gap: 58px;
}

.pay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.pay__wrap-img {
  width: 468px;
  height: 656px;
  margin-bottom: 42px;
}

.pay__button {
  font-family: "Brick Text Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  padding: 16px 82px;
  color: white;
}

.pay__button_blue {
  background-color: #569DDD;
  margin-bottom: 23px;
}

.pay__button_white {
  color: #2A5285;
  border: solid 2px;
  margin-bottom: 114px;
}

.card__title {
  font-family: "Brick Display Pro";
  font-size: 38px;
  font-weight: 400;
  line-height: 46px;
  letter-spacing: 0em;
  text-align: left;
  color: white;
  margin-bottom: 95px;
}

.text {
  color: #1E456E;
}

.text__title {
  font-family: "Brick Display Pro";
  font-size: 44px;
  font-weight: 900;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}

.text__title:not(:last-child) {
  margin-bottom: 30px;
}

.text__txt {
  font-family: "Brick Display Pro";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  margin-bottom: 35px;
}

.text .text__title_one {
  margin-bottom: 45px;
}

.image-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 32px;
          column-gap: 32px;
  margin-bottom: 185px;
}

.image-card__image-wrap {
  width: 518px;
  height: 727px;
}

.matilde__pay {
  margin-left: 150px;
}

/* Условные ПК, ноуты и телевизоры */
/* 1050 из макета (контейнер + отступы) */
/* Условные планшеты */
@media (max-width: 957px) {
  .matilde {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .pay__button {
    max-width: 468px;
  }
}

/* Условные мобилки */
[class*="__container"] {
  max-width: 1610px;
  margin: 0px auto;
  padding: 0px 15px;
}

/* №1 */
@media (max-width: 1440px) {
  [class*="__container"] {
    /* max-width: 970px; */
  }
  .image-card {
    -webkit-column-gap: 1%;
            column-gap: 1%;
  }
}

/* №2 */
@media (max-width: 991.98px) {
  [class*="__container"] {
    /* max-width: 750px; */
  }
}

/* №3 */
@media (max-width: 767.98px) {
  [class*="__container"] {
    /* max-width: none; */
  }
  .image-card {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 5px;
  }
}

.item-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 1140px) {
  .item-block {
    max-width: 350px;
  }
}

.item-block__picture {
  position: relative;
  padding: 0px 0px 74.28571428571429% 0px;
}

.item-block__picture img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.item-block__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #424242;
}

.item-block__body *:not(:last-child) {
  margin: 0px 0px 15px 0px;
}

.item-block__title {
  font-size: 40px;
  color: #fff;
}

.item-block__text {
  line-height: 150%;
  color: #eee;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-size: 16px;
}

.item-block__button {
  padding: 10px 15px;
  text-align: center;
  color: #fff;
  background-color: green;
  border: 1px solid green;
}

.item-block__button::before {
  content: "";
}

.item-block__button::after {
  content: "";
}

.item-block__button:hover {
  background-color: yellow;
}

.list {
  padding: 30px;
}

.list__item {
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.list__item:not(:last-child) {
  margin-bottom: 15px;
}

.list__link {
  color: #fff;
}

.list:hover .list__item {
  -webkit-transform: translate(0px, 0px);
      -ms-transform: translate(0px, 0px);
          transform: translate(0px, 0px);
}
